.signup-card {
    width: 420px;
    border-radius: 15px;
    background: #ffffff;
}

.form-control-lg {
    height: 50px;
    border-radius: 10px;
}

.btn-lg {
    border-radius: 10px;
    padding: 12px;
    font-size: 18px;
}
