body { 
  font-family: Arial, sans-serif; background: #f5f5f5; margin: 0; padding: 20px; 
}
.navbar {
    width: 100%;
    background: #252525;                 
    color: white;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    height:40px;
}
.navbar .logo {
    position: absolute;
    left: 25px;                  
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    background-color:#E1306C;
    height:50px;
    padding-top:15px;
    width:auto;
}
.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
#logo{
  height:30px;
  width:30px;
  color:white;
  right:5px;
  display: flex;
  align-items: center;
}
.filter-container {
    display: flex;
    align-items: center;
    gap: 12px;
}
.filter-container input {
    padding: 7px 12px;
    border-radius: 6px;
    outline: none;
    border: none;
    width: 150px;
}
.filter-btn {
    padding: 8px 16px;
    background: rgb(234, 51, 51);
    color: #ffffff;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.back-btn{
    position: absolute;
    right: 90px;
    padding: 10px 20px;
    background: #ff4b4b;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

.back-btn:hover {
    background: #ff3a3a;
}
.filter-btn:hover {
    background: rgba(197, 68, 68, 0.85);
}

.flight-container { 
  display: flex; 
  flex-direction: column; 
  gap: 20px; 
  max-width: 900px; 
  margin: auto; 
}
.flight-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}
.flight-info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.flight-logo {
  width: 60px;
  height: auto;
}
.flight-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.route {
  font-size: 18px;
  font-weight: bold;
}
.time-city {
  font-size: 16px;
  color: #555;
}
.duration {
  font-size: 14px;
  color: #888;
}
.price-section {
  text-align: right;
}
.price {
  font-size: 20px;
  font-weight: bold;
  color: #222;
}
.book-btn {
  background: #ff3700;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 5px;
}
.book-btn:hover {
  background: #ff4500;
}
.extra-info {
  font-size: 12px;
  color: #777;
  margin-top: 5px;
}