body {
    background: #e6eaed; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.login-card {
    width: 430px;
    background: #ffffff;
    padding: 35px 40px;
    border-radius: 15px;
    box-shadow: 0px 5px 25px rgba(0,0,0,0.25);
}
.login-title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 25px;
    font-size: 28px;
 }
.login-input {
    margin-bottom: 15px;
    height: 45px;
}
 .login-btn {
    background: #e6501e;
    width: 100%;
    height: 45px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    color:white;
}
.social-row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.social-btn {
    width: 70px;
    height: 50px;
    background: white;
    border-radius: 8px;
    border: 1px solid #bbb;
    font-size: 22px;
}
.signin-text {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}
.remember-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}