.card {
    width: 330px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    font-family: Arial, sans-serif;
    display:inline-block;
    margin:15px;
    padding:15px;
}
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card-body {
    padding: 12px 15px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

.card-desc {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.card-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.button-class{
    background-color: rgb(218, 42, 42);
    color:white;
    justify-content: center;
    width:100%;
    height:25px;
    border-radius: 25px;
    border:none;
    margin-top: 10px; 
}
.star-container {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 6px 0;
}

.rating-number {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  margin-right: 6px;
}
.star {
  width: 20px;
  height: 20px;
  display: inline-block;
  mask: url("https://cdn-icons-png.flaticon.com/512/1828/1828884.png") no-repeat center;
  -webkit-mask: url("https://cdn-icons-png.flaticon.com/512/1828/1828884.png") no-repeat center;
  background-size: contain;
}
.star.full {
  background: #FFD700;
}

.star.empty {
  background: #d3d3d3; 
}
.star.half {
  background: linear-gradient(to right, #FFD700 50%, #d3d3d3 50%);
}
.icon-row {
    display: flex;
    align-items: center;
    gap: 6px;   
}
.icon {
    font-size: 22px; 
    line-height: 1;
}
.nav-bar {
    position: relative;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 60 20px;   
    background-color: #2b2a2a;
}
.nav-left {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-bar .logo{
    color:white;
    right:2px;
    right:10px;
    background-color: #E1306C;
    padding-top: 15px;
    height:45px;
    width:auto;
}
.nav-bar i {
    font-size: 20px;
    cursor: pointer;
}
.nav-bar button {
    padding: 10px 15px;
    border: none;
    background: rgb(206, 46, 46);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    height:40px;
}
.nav-bar .categories{
    position:absolute;
    left:275px;
}
#text-id{
    border-radius:50px;
    height:40px;
    text-align: center;
    width:200px;
}

.nav-bar .destination{
    position:absolute;
    left:525px;
}
#text-id1{
    border-radius:50px;
    height:40px;
    text-align: center;
    width:200px;
}
.nav-buttons {
    display: flex;
    gap: 10px;     
    margin-left: 30px; 
    align-items: center;
}
.nav-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #ccc;
    background: white;
    font-size: 18px;
}
.nav-bar .tab-container {
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     display: flex;
     align-items: center;
     gap: 40px;
     background: #3f3f3f;
     padding: 20px;
     border-radius: 30px;
     width:auto;
}
.tab-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    padding-bottom: 5px;
    position: relative;
}

.tab-item.active {
    font-weight: 600;
}
.tab-item.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: white;
    border-radius: 10px;
}
.divider {
    height: 25px;
    width: 2px;
    background: white;
    opacity: 0.5;
}
#icon-id {
  position: absolute;
  right: 120px; 
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: white;
}
.login{
    position: absolute;
    right: 20px; 
    top: 50%;
    transform: translateY(-50%);
    height:40px;
}
#logout{
    position: absolute;
    right: 20px; 
    top: 50%;
    transform: translateY(-50%);
    height:40px;
}
#listings-id{
    color: white;
    text-decoration: none;
}
#flightlistings-id{
    color:white;
    text-decoration: none;
}
.btn a {
    color: white;
    text-decoration: none;
}
.btn a:hover {
    color: white;
    text-decoration: none;
}
.user-box {
    line-height: 1.1;
    text-align: center;
    padding-left:145px;
    color:white;
}
.footer-bar {
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 20px 0;
    text-align: center; 
}
.footer-bar p {
    margin: 0;
    font-size: 18px;
    margin-bottom: 10px;
}
.footer-bar .icons {
    display: flex;
    justify-content: center;
    gap: 20px;       
}
.footer-bar i {
    font-size: 28px;
    cursor: pointer;
    transition: 0.3s;
}
.footer-bar i:hover {
    transform: scale(1.2);
}
.fa-square-instagram {
    background-color: #E1306C;
    color:white;
}

.fa-x-twitter {
    color: white;
}

.fa-youtube {
    color: #FF0000;
}
.button-class1{
    background-color: rgb(45, 41, 41);
    color:white;
    justify-content: center;
    width:100%;
    height:25px;
    border-radius: 25px;
    border:none;
}
.button-class2{
    background-color: rgb(255, 187, 16);
    color:rgb(48, 46, 46);
    width:100%;
    height:25px;
    border-radius: 25px;
    border:none;
    margin-top: 10px;
}
.hidden {
    display: none;
}
#review-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}
.show-popup {
    display: flex !important;
}
.popup-box {
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.popup-box h2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#submitBtn{
    background-color: rgb(181, 61, 45);
    color:white;
    width:350px;
    height:40px;
}
.close-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 28px;
    color: rgb(32, 30, 30);
    cursor: pointer;
}

.close-btn:hover {
    color: rgb(243, 242, 242);
    background-color: red;
}
